[hyoo_case_entity_page_editable] {
	--mol_theme_back: hsl( 210 , 50% , 12% );
	--mol_theme_hover: rgba( 255 , 255 , 255 , .05 );
	--mol_theme_current: hsl( 210 , 100% , 30% );
	--mol_theme_text: hsl( 0 , 0% , 80% );
	--mol_theme_control: hsla( 210 , 60% , 70% , 1 );
	--mol_theme_shade: rgba( 255 , 255 , 255 , .5 );
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_focus: hsl( 60 , 100% , 70% );
	--mol_theme_field: black;
	--mol_theme_image: invert(1) hue-rotate(180deg);
}
